* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
html{
  font-family: 'Kalam',cursive,sans-serif;
  font-size: 16px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.float-l{float:left}
.float-r{float:right;}
.clear{clear: both;}
.clear::after,.clear::before{
  content: '';
}
.text{
  width: 20rem;
  height: 2rem;
  margin-bottom: .5rem;
  border: 2.5px solid gray;
}
.submit{
  background-color: #61dafb;
  width: 10rem;
  height:2rem;
  cursor: pointer;
  border-radius: 0.3rem;
  margin-top: 1rem;
}
.nav{
  display: flex;
  flex-direction: row;
  flex-flow: row;
  flex-basis: 1fr auto;
  height: 4.5rem;
  background-color: brown;
  width: 100%;
}
.content{
  margin:0 auto;
  margin-top: 2rem;
  width: 80%;
}
.nav-link{
  text-decoration: none;
}
.nav-item{
  background-color: #2f323a;
  height: 4.5rem;
  font-size: 1.25rem;
  color:aqua;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 3px;
}
.nav-item:hover{
  background-color: #202329;
}
.form-text{
  width: 20rem;
  height: 2.5rem;
  margin:0.25rem;
  border:3px solid gray;
  border-radius: 10px;
}
.form-radio{
  text-align: center;
  width: 20rem;
  margin:0 auto;
  margin-top: 1rem;
}
.option{
  font-size: 1rem;
}